In [11]:
import pandas as pd
df = pd.read_excel("Cleaned_Sales_Data.xlsx")
print(df.head(5))

   OrderID  OrderDate CustomerID     CustomerName Region      Segment  \
0  ORD1000 2022-01-01    CUST802      Adam Austin   East    Corporate
1  ORD1001 2022-01-02    CUST905     Jeremy Crane  South  Home Office
2  ORD1002 2022-01-03    CUST960  Robert Friedman   East     Consumer
3  ORD1003 2022-01-04    CUST558    Julia Stewart   East    Corporate
4  ORD1004 2022-01-05    CUST642     Brian Butler   East  Home Office

   ProductCategory ProductName   Sales  Quantity  Discount  Profit  \
0        Furniture         Old  387.05         3      0.02  211.19
1  Office Supplies   Education  951.70         8      0.17   26.66
2  Office Supplies      Forget  737.35         7      0.09  -24.84
3       Technology  Themselves  606.69         3      0.32  200.49
4  Office Supplies       Break  172.90         6      0.23   86.75

         ShipMode  ShippingDate
0    Second Class           NaN
1  Standard Class           NaN
2  Standard Class           NaN
3        Same Day           NaN
4        Same Day           NaN

In [7]:
#Basic Structures
print(df.shape)
print(df.info())
print(df.describe())

(5000, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          5000 non-null   object
 1   OrderDate        5000 non-null   datetime64[ns]
 2   CustomerID       5000 non-null   object
 3   CustomerName     5000 non-null   object
 4   Region           5000 non-null   object
 5   Segment          5000 non-null   object
 6   ProductCategory  5000 non-null   object
 7   ProductName      4991 non-null   object
 8   Sales            5000 non-null   float64
 9   Quantity         5000 non-null   int64
 10  Discount         5000 non-null   float64
 11  Profit           5000 non-null   float64
 12  ShipMode         5000 non-null   object
 13  ShippingDate     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(8)
memory usage: 547.0+ KB
None
                 OrderDate        Sales     Quantity     Discount  \
count                 5000  5000.000000  5000.000000  5000.000000
mean   2028-11-04 12:00:00   506.895382     5.007200     0.249464
min    2022-01-01 00:00:00    20.010000     1.000000     0.000000
25%    2025-06-03 18:00:00   258.985000     3.000000     0.120000
50%    2028-11-04 12:00:00   510.010000     5.000000     0.250000
75%    2032-04-07 06:00:00   753.137500     7.000000     0.380000
max    2035-09-09 00:00:00   999.720000     9.000000     0.500000
std                    NaN   283.841016     2.588298     0.145834

            Profit  ShippingDate
count  5000.000000           0.0
mean    127.816866           NaN
min     -49.910000           NaN
25%      42.402500           NaN
50%     129.470000           NaN
75%     213.572500           NaN
max     299.970000           NaN
std     100.463624           NaN

In [10]:
#Check for Duplicates and Nulls
print("Duplicates:",df.duplicated().sum())
print(df.isnull().sum())

Duplicates: 0
OrderID               0
OrderDate             0
CustomerID            0
CustomerName          0
Region                0
Segment               0
ProductCategory       0
ProductName           9
Sales                 0
Quantity              0
Discount              0
Profit                0
ShipMode              0
ShippingDate       5000
dtype: int64

In [17]:
#Handling Null Values
df = df.dropna(subset = ['ProductName'])
df.drop('ShippingDate',axis = 1,inplace = True, errors = "ignore")
print(df.isnull().sum())
print(df.columns)

OrderID            0
OrderDate          0
CustomerID         0
CustomerName       0
Region             0
Segment            0
ProductCategory    0
ProductName        0
Sales              0
Quantity           0
Discount           0
Profit             0
ShipMode           0
dtype: int64
Index(['OrderID', 'OrderDate', 'CustomerID', 'CustomerName', 'Region',
       'Segment', 'ProductCategory', 'ProductName', 'Sales', 'Quantity',
       'Discount', 'Profit', 'ShipMode'],
      dtype='object')

In [18]:
#Check Data types and Conversion
print(df.dtypes)

OrderID                    object
OrderDate          datetime64[ns]
CustomerID                 object
CustomerName               object
Region                     object
Segment                    object
ProductCategory            object
ProductName                object
Sales                     float64
Quantity                    int64
Discount                  float64
Profit                    float64
ShipMode                   object
dtype: object

In [22]:
#Viewing Unique values in columns:
print(df["ProductCategory"].unique())
print(df['Region'].unique())
print(df['OrderDate'].min(),df['OrderDate'].max())

['Furniture' 'Office Supplies' 'Technology']
['East' 'South' 'Central' 'West']
2022-01-01 00:00:00 2035-09-09 00:00:00

In [26]:
#Counting values for Categorical Columns
print(df['Region'].value_counts())
print(df["Segment"].value_counts())
print(df["ProductCategory"].value_counts())

Region
East       1282
Central    1250
South      1232
West       1227
Name: count, dtype: int64
Segment
Corporate      1719
Home Office    1675
Consumer       1597
Name: count, dtype: int64
ProductCategory
Furniture          1684
Technology         1667
Office Supplies    1640
Name: count, dtype: int64

In [28]:
#Finding Top Products
print(df['ProductName'].value_counts().head(10))

ProductName
Center      14
After       13
Open        12
Many        12
Call        12
Ahead       12
Congress    12
Every       12
Deep        12
Yet         11
Name: count, dtype: int64

In [31]:
#Exploratory relatioships between variables:
#Total Sales per Region
print(df.groupby('Region')["Sales"].sum().sort_values(ascending = False))

#Average Discount by Segment
print(df.groupby('Segment')['Discount'].sum().sort_values(ascending = False))

#Total Profit per Category
print(df.groupby('ProductCategory')['Profit'].sum().sort_values(ascending = False))

Region
East       653016.57
South      636300.53
Central    634224.14
West       606150.56
Name: Sales, dtype: float64
Segment
Corporate      429.69
Home Office    416.38
Consumer       399.20
Name: Discount, dtype: float64
ProductCategory
Furniture          220570.55
Technology         215356.31
Office Supplies    202492.21
Name: Profit, dtype: float64